# Node modules
node_modules/

# Environment variables file
.env

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Other IDE or editor config files
.idea/

# Log files
*.log
.env
config/config.env
